<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product.productId %>">
    <input type="hidden" name="productName" value="<%= product.productId %>">
</form>